body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Utilities */

.heading-primary{
  font-family: 'Arima Madurai', cursive;
}

:root{
  --button-color: rgba(9, 64, 82, 1);
  --box-shadow:0 0 50px rgba(0, 0, 0, 0.2) ;
  --border: solid 3px rgba(9, 64, 82, 1);
  --button-hover: rgb(6, 53, 68);
  --nav-logo-color: rgb(27, 100, 124);

}


